.forgotpass-box {
  height: 318px;
  width: 557px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}
.forgotpasstext {
  margin-top: 20px;
  font-size: 14px;
}
#ForgotPassForm .form-row {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
