.resetpass-box {
  height: 408px;
  width: 557px;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
}
#PasswordResetForm .form-row {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.passreset-text {
  height: 36px;
  width: 497px;
  font-size: 14px;
}
