:root {
  --background-col: #edf6ff;
  --primary-col: #303f60;
  --secondary-col: #43afff;
  --shadow-col: #557da526;
  --input-background: #e8e8e833;
  --input-nofocus: #c6c6c6;
  --input-error-border: #ff333380;
  --profile-col: #d9efff;
}

/* General */
body {
  background-color: var(--background-col);
  font-family: Helvetica, sans-serif;
}
p {
  color: var(--primary-col);
  margin: 0;
}

.container {
  padding-left: 70px;
  padding-right: 70px;
}

.h-fit {
  margin-top: 0;
  margin-bottom: 0;
}
.btn {
  color: white;
  border-radius: 5px;
  height: 46px;
  width: 148px;
  border: none;
  font-size: 16px;
}
.btn:hover,
.text-btn:hover {
  cursor: pointer;
}

.btn-outlined {
  background-color: transparent;
  border: 1px solid var(--secondary-col);
}

.btn-filled {
  background-color: var(--secondary-col);
}
.text-btn {
  background-color: transparent;
  outline: none;
  border: none;
  color: var(--secondary-col);
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
}

.section-heading {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}
.container2 {
  width: 1083px;
  margin-left: auto;
  margin-right: auto;
}
.section-gap {
  margin-top: 80px;
}
.ui-box {
  background-color: white;
  border-radius: 20px;
}
.ui-box-content {
  padding: 30px;
}
.hidden {
  display: none;
}

/* form general */
.form {
  display: flex;
  flex-direction: column;
}
.form input {
  /* height: 46px; */
  max-height: 46px;
  border-radius: 5px;
  padding: 15px 17px;
  border: 1px solid var(--input-nofocus);
  background-color: var(--input-background);
  margin-top: 8px;
}
.form input::placeholder {
  color: var(--primary-col);
  opacity: 40%;
  font-size: 14px;
}

.form input:focus {
  background-color: var(--input-background);
  color: var(--primary-col);
  border: 1px solid var(--secondary-col);
  outline: none;
}

.form label {
  color: var(--primary-col);
  font-size: 14px;
}
.form .form-btn-div {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.form-error-div {
  position: relative;
  display: flex;
  justify-content: end;
}
.form-error-div .form-error {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: red;
  opacity: 80%;
  margin-top: 8px;
}
.form-input-error {
  border: 1px solid var(--input-error-border) !important;
}
.form-extra-actions-row p,
.form-extra-actions-row button {
  font-size: 16px !important;
}
